@import 'tailwindcss';

:root {
  --bg-color-body: #fff;
  --bg-image-body: radial-gradient(#e5e7eb 1px, transparent 1px);
  --bg-size: 16px 16px;
  --default-foreground-color: #171717;
  --default-font-family: Arial, Helvetica, sans-serif, system-ui;
}

/* FIXME: I'll organize it later */
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--bg-color-body);
  background-image: var(--bg-image-body);
  background-size: var(--bg-size);
  color: var(--default-foreground-color);
  font-family: var(--default-font-family);
}
